<!--
  Generated template for the TransactionsPage page.

  See http://ionicframework.com/docs/components/#navigation for more info on
  Ionic pages and navigation.
-->
<ion-header>
  <ion-navbar>
    <ion-title>{{title}}</ion-title>
  </ion-navbar>
</ion-header>

<ion-content padding>
	<h2>Bienvenido 😏</h2>
	<ion-card>
		<ion-card-header>Movimientos</ion-card-header>
		<ion-list *ngFor="let transaction of transactions">
			<button ion-item>
				<strong>{{ transaction.amount }}</strong>
				{{ transaction.title }}
			</button>
		</ion-list>
	</ion-card>
	<ion-fab>
		<button ion-fab [navPush]="addingPage">💸</button>
	</ion-fab>
</ion-content>
